// Here you can add other styles
$sidebar-brand-bg: rgba(188, 123, 179, 1);
.padding-container {
  padding-top: 24px;
}
.margin-container {
  margin-top: 24px;
}
.margin-item {
  margin-top: 16px;
}
.everstar-color {
  color: #81bde8;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cui-sidebar-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9da5b1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9da5b1;
}

// .menu-popup {
//   position: absolute;
//   top: 0;
//   right: 0;
// }
.options-menu {
  position: relative;
}
.menu-popup {
  position: absolute;
  top: 0;
  right: 3rem;
}
.row-align {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.margin-left {
  margin-right: 10px;
}
.avatar-container {
  border-radius: 50%;
  width: 100%;
  // background-position: center;
  // background-size: contain;
}
.avatar-container img {
  width: 100%;
  border-radius: 50%;
  margin: auto;
}
.item-center {
  display: flex;
  justify-content: center;
  // align-items: center;
}
.modal2 {
  background-color: rgb(157, 165, 177, 0.7);
  // opacity: 0.3;
}
.relative {
  position: relative;
}

// for choose subscription form
.absolute-drop-down {
  position: absolute;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #333;
  overflow: hidden;
  display: none;
}
.absolute-drop-down.display-block {
  display: block;
}
.list-container {
  width: 100%;
  border-radius: 8px;
}

.each-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #9da5b1;
  cursor: pointer;
}

.each-item:hover {
  background-color: #321fdb;
  color: white;
}

.items-listing {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 300px;
}
.choose-fields {
  border: 1px solid #9da5b1;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
}

// Profile details
.avatar-detail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
// FOR GLOBAL CLASS
.space-between {
}

.avatar-container {
  width: 40%;
}
.center-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.warning-color {
  color: #f9b115;
}
.max-width-20 {
  max-width: 20%;
}
.normal {
  padding: 6px 12px;
}
.accordion-small button:nth-child(1) {
  padding: 8px 16px;
}
.accordion-normal button:nth-child(1) {
  padding: 8px 16px;
}
.main-border input {
  border: 1px solid #c4c9d0;
  border-radius: 4px;

  // padding: 2px 12px;
}
.main-border input::file-selector-button {
  padding: 6px;
  border-right: 1px solid #c4c9d0;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.dropdown-wrapper {
  position: relative;
  padding: 0 1rem;
}
.items-dropdown {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #c4c9d0;
  list-style: none;
  z-index: 10;
  border-radius: 4px;
  padding: 0;
}
.items-dropdown input {
  margin-right: 4px;
}
.items-dropdown li {
  padding: 0.125rem 0.75rem;
  border-bottom: 1px solid #c4c9d0;
}
.items-dropdown li:last-child {
  border-bottom: none;
}
.text-second {
  color: #8a93a2;
}
.border-bottom {
  border-bottom: 1px solid #c4c9d0;
}
